<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>松鼠博客</title>

<!-- style -->
<%- Loader("/public/css/notify.min.css")
.css("/public/css/styles.css")
.done(assetsMap, config.site_static_host, config.mini_assets) %>

<style type="text/css">

</style>

<!-- scripts -->
<%- Loader('/public/js/notify.min.js')
.js('/public/js/jquery-3.2.1.js')
.js('/public/js/self.js')
.js('/public/js/jquery.jqpagination.js')
.done(assetsMap, config.site_static_host, config.mini_assets)
%>

<% include header %>
<div>
	<% if(typeof(error) !== 'undefined' && error) { %>
	<p><%= error %></p>
<% } %>
	<% if(typeof(success) !== 'undefined' && success) { %>
	<p><%= success %></p>
<% } %>
</div>
<script type="text/javascript">
</script>
<%- include footer %>
